.assurance {
    padding:70px 0 60px;
}
.assurance-text {
    display: table;
    margin:0 auto;
    position: relative;
    color:#fff;
    font-size:32px;
    text-align: center;

    border-left: 2px solid #bababc;
    border-right: 2px solid #bababc;
    background-image: url(../img/border2.jpg),url(../img/border2.jpg),url(../img/border2.jpg),url(../img/border2.jpg);

    background-repeat: no-repeat;
    background-position: top left,top right,bottom left,bottom right;
    padding:14px 35px;
    p {
        margin:0;
    }
}
