* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	line-height: 1.2;
	color: #2e4148;
	font-family: Tahoma, Verdana, sans-serif;
	background: #fff;
	width: 100%;
	min-width: 1000px;
	position: relative;
	overflow: visible;
}
img {
	max-width: 100%;
	height: auto;
}
a, a:link, a:visited {
	color: #213d49;
	text-decoration: none;
}
a:hover {
	color:#c1c1c1;
	text-decoration: none;
}
::-webkit-input-placeholder {
	color:#999;
	text-transform: uppercase;
}
::-moz-placeholder {
	color:#999;/* Firefox 19+ */
	text-transform: uppercase;
}
:-moz-placeholder {
	color:#999;/* Firefox 18- */
	text-transform: uppercase;
}
:-ms-input-placeholder {
	color:#999;
	text-transform: uppercase;
}
p {
	margin:0 0 24px;
}
.hidden-text {
	text-indent:100%;
	white-space: nowrap;
	overflow: hidden;
}
.clearfix:after {
	content:'';
	clear:both;
	display: table;
}
.section {
	position: relative;
	padding: 50px 0 60px;
	&:after {
		content:'';
		clear:both;
		display: table;
	}
}
.container {
	width:980px;
	margin:0 auto;
	position: relative;
	height: 100%;
}
.text-center {
	text-align: center;
}
a.button {
	display: inline-block;
	vertical-align: top;
	height: 42px;
	line-height: 42px;
	padding: 0 16px;
	position: relative;
	font-family: 'K_Helios Thin';
	font-size:26px;
	color:#fff;
	background-repeat:no-repeat;
	border-left: 1px solid #aeccd6;
	border-right: 1px solid #aeccd6;
	background-image: url(../img/border.gif),url(../img/border.gif),url(../img/border.gif),url(../img/border.gif);
    background-position: top left,top right,bottom left,bottom right;
	&:hover {
		color:#c1c1c1;
	}
	&.dark {
		color: #213d49;
		border-left: 1px solid #aeccd6;
		border-right: 1px solid #aeccd6;
		background-image: url(../img/border.gif),url(../img/border.gif),url(../img/border.gif),url(../img/border.gif);
	}
	&.button--company {
		color: #213d49;
		font-size: 16px;
		height: 26px;
		line-height: 26px;
	}
}
.title {
	font-size:50px;
	font-family: 'K_Helios Thin';
	font-weight:  200;
	line-height: 1;
	border-left:2px solid #b4b4b2;
	padding-left:25px;
	padding-top:5px;
	display: inline-block;
	vertical-align: top;
	margin-top:0;
	position: relative;
	margin-left:115px;
	.icon {
		position: absolute;
		right:100%;
		margin-right: 25px;
	}
	strong {
		font-family: 'K_Helios Comp';
		font-weight:  400;
		display: block;
	}
	&.white {
		border-color:#fff;
	}
}
.h1 {
	font-size:50px;
	font-weight: normal;
	margin:0 0 10px;
}
.white {
	color:#fff;
}
.num {
	display: inline-block;
	vertical-align: top;
	width:64px;
	height: 64px;
	white-space: nowrap;
	line-height: 64px;
	border:1px solid #213d49;
	color:#213d49;
	font-size:24px;
	border-radius: 50%;
	text-align: center;
	&.white {
		color:#fff;
		border-color: #fff;
	}
}
.quality-title {
	font-size: 30px;
	font-family: Tahoma, sans-serif;
	line-height:1;
	font-weight: normal;
}
.block {
	display: block;
}
.blur {
	filter: blur(10px);
}
strong {
	font-family: 'K_Helios-bold';
}
.text-white {
	color: #fff;
	a {
		color: #fff;
	}
}
.title-img {
	position: relative;
	z-index: 10;
	margin: 0;
}
td, th {
	padding: 15px;
}
