.contacts {
    min-height: 775px;
    padding-top:100px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 414px;
    h2 {
        font-size:36px;
        font-family: 'K_Helios Comp';
        font-weight: normal;
        margin:0;
        .icon {
            vertical-align: middle;
            margin-right:20px;
        }
    }
}
.contacts-text {
    margin:200px 0 0 0;
    width: 500px;
    padding: 0;
    list-style: none;
    font-family: 'K_Helios Thin';
    font-size:34px;
    .icon {
        float:left;
    }
    li:after {
        clear:both;
        display: table;
        content:'';
    }
}
.contacts-address {
    font-size:34px;
}
.contacts_icon {
    float:left;
    margin-right:15px;
}
.contacts_text {
    overflow: hidden;
}
.contacts-address,
.contacts-phone,
.contacts-mail {
    padding-left:70px;
    position: relative;
    margin-bottom: 15px;
    min-height: 53px;
    .icon {
        position: absolute;
        left:0;
        top:0;
    }
}
.contacts-form {
    position: absolute;
    width:580px;
    height: 679px;
    background: url(../img/contacts-form.jpg) 0 0 no-repeat;
    top:0;
    right:-100px;
    form {
        width:312px;
        margin:140px 0 0 80px;
        text-align: center;
    }
    input[type='text'] {
        width: 100%;
        border:0;
        background: none;
        border-bottom:2px solid #b5cdd6;
        font-family: 'K_Helios Thin';
        color:#fff;
        margin-bottom:80px;
        font-size: 22px;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    button,
    input[type='submit'] {
        font-family: 'K_Helios Thin';
        background: no-repeat;
        border: 0;
        color: #fff;
        font-size: 25px;
        border-left: 1px solid #aeccd6;
        border-right: 1px solid #aeccd6;
        padding: 7px 22px 0;
        cursor: pointer;
        background-image: url(../img/border.gif),url(../img/border.gif),url(../img/border.gif),url(../img/border.gif);
        background-position: top left,top right,bottom left,bottom right;
    }
    .notice {
        position: absolute;
        top:80px;
    }
}
::-webkit-input-placeholder {
	color:#fff;
    text-transform: capitalize;
}
::-moz-placeholder {
	color:#fff;/* Firefox 19+ */
    text-transform: capitalize;
}
:-moz-placeholder {
	color:#fff;/* Firefox 18- */
    text-transform: capitalize;
}
:-ms-input-placeholder {
	color:#fff;
    text-transform: capitalize;
}
.notice,
.alert-success {
    color: #fff;
    font-size: 25px;
    font-family: 'K_Helios Thin';
}
.form-email {
    display: none;
}
