.director {
    font-size:20px;
    p {
    	margin:0;
    }
    img {
        border-radius: 50%;
        float:left;
        margin-right:75px;
    }
    .director-about {
        overflow: hidden;
    }
}
