.dm {
    color: #fff;
    text-align: center;
    padding:120px 0 110px;
    .icon {
        margin-right: 20px;
    }
}
.dm-text {
    line-height: .8;
    display: inline-block;
    padding-top:15px;
    font-size:40px;
    strong {
        display: block;
    }
    p {
        margin: 0;
    }
}
.dm-icon {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
