.equipments {
    background:#31454c url(../img/main-clouds-light.jpg) top center no-repeat;
    color:#fff;
    padding-bottom:120px;
    max-height: 990px;
    .title {
        font-size:25px;
        strong {
            font-size: 50px;
        }
    }
    .slick-slide {
        height: auto;
    }
    .slick-prev {
        left:-50px;
        margin: -32px 0 0 0;
        @media screen and (max-width: 1100px) {
            left:10px;
        }
    }
    .slick-next {
        right:-50px;
        margin: -32px 0 0 0;
        @media screen and (max-width: 1100px) {
            right:10px;
        }
    }
}
.equipments-slick {
    width: 980px;
    margin: 0 auto;
}
.equipments-grid {
    font-size:0;
    text-align: center;
    padding-top: 20px;
}
.equipment {
    width: 235px;
    font-size: 18px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding:20px 15px 0 15px;
    position: relative;
    height: 350px;
    margin-bottom:4px;
    .toggle-content {
        cursor: pointer;
        margin-top:0;
        top:0;
        bottom:0;
        left:2px;
        right:2px;
        overflow: hidden;
    }
    a.toggle-handle {
        display: block;
        position: relative;
        margin-top:28px;
        font-size:15px;
        color:#fff;
        padding-left:60px;
        font-size:18px;
        font-family: 'K_Helios Thin';
        &:before {
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:47px;
            height: 42px;
            background: url(../img/more.png) left center no-repeat;
            border-right:1px solid #fff;
        }
        &:after {
            content:'подробнее';
            display: block;
            font-family: 'K_Helios';
            font-size:15px;
        }
    }
    h3 {
        font-size: 17px;
        font-family: 'K_Helios-bold';
        font-weight:  700;
        margin: 12px 0 18px;
    }
}
.equipment__img {
    width:198px;
    height: 200px;
    padding-bottom:2px;
    background: url(../img/tech-img.png) bottom center no-repeat;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    img {
        vertical-align: top;
        display: inline;
    }
}
a.equipment__video {
    position: absolute;
    top:20px;
    left:0;
    color:#ffcb05;
    font-size:18px;
    font-family: 'K_Helios Thin';
    line-height: 34px;
    cursor: pointer;
    text-decoration: none;
    .icon {
        margin:0 10px 0 15px;
    }
    &:hover {
        color:#ffcb05;
    }
}
.toogle-close {
    position: absolute;
    top:5px;
    right:10px;
    font-weight: bold;
    &.close {
        border:1px solid #2d4148;
        width:25px;
        height:25px;
        line-height: 25px;
        font-size: 12px;
        border-radius: 50%;
        text-align:center;
        font-family: Tahoma,sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        &:hover {
            color:#2d4148;
        }
    }
}
