@font-face {
  font-family: 'K_Helios Comp';
  src: url('../fonts/K_Helios-Comp.eot'); /* IE9 Compat Modes */
  src: url('../fonts/K_Helios-Comp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/K_Helios-Comp.woff') format('woff'), /* Modern Browsers */
       url('../fonts/K_Helios-Comp.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/K_Helios-Comp.svg#2ed0e31ad30b3bcf95191de1a22b5a76') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'K_Helios Thin';
  src: url('../fonts/K_Helios-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/K_Helios-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/K_Helios-Thin.woff') format('woff'), /* Modern Browsers */
       url('../fonts/K_Helios-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/K_Helios-Thin.svg#c1cde7b9a13b50fe7994248c579e3bde') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'K_Helios';
  src: url('../fonts/K_Helios-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/K_Helios-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/K_Helios-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/K_Helios-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/K_Helios-Regular.svg#1242e386665002843c99d70a983a91c6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'K_Helios-bold';
  src: url('../fonts/K_Helios-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/K_Helios-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/K_Helios-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/K_Helios-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/K_Helios-Bold.svg#38b361c1adcb7e29bbc4e3bce9a748fa') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}
