.footer {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'K_Helios Thin';
    line-height: 1.4;
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    background: #31454c url(../img/parallax/main.jpg) 50% 100% no-repeat;
    z-index: -1;
}
.footer-social {
    list-style: none;
    margin:0;
    padding: 0;
    font-size: 0;
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        margin-left:8px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.scrollup {
    position: fixed;
    display: none;
    bottom:20px;
    right:20px;
    background: #2d4148;
    border-radius: 50%;
}
