.groups {
    background-color: #fff;
    overflow: hidden;
    .icon {
        margin-right:22px;
    }
}
.wrap-groups-parallax {
    margin-top:-160px;
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 0;
    ul {
        list-style: none;
    }
    li {
        position: absolute;
        text-align: center;
        font-family: 'K_Helios Thin';
        .groups-title {
            display: inline-block;
            vertical-align: top;
            position: relative;
            background: #213d49;
            border-radius: 5px;
            padding:12px 14px;
            color:#fff;
            clear:both;
            text-decoration: none;
        }
        p {
            margin-top:10px;
            white-space: nowrap;
            position: relative;
        }
    }
}
.groups-1 {
    width:200px;
    left:230px;
    bottom:383px;
    p {
        &:after {
            content:'';
            position: absolute;
            width:8px;
            height:196px;
            background:url(../img/groups/groups-1.png) 0 0 no-repeat;
            left: 50%;
            margin-left: -4px;
            top: 100%;
            margin-top: 10px;
        }
    }
}
.groups-2 {
    width:200px;
    left:567px;
    top:20px;
    .groups-title {
        &:after {
            content:'';
            position: absolute;
            width:174px;
            height:138px;
            background:url(../img/groups/groups-2.png) 0 0 no-repeat;
            right: 100%;
            margin-right:15px;
            top: 36px;
        }
    }
}
.groups-3 {
    width:200px;
    left:635px;
    top:140px;
    .groups-title {
        &:after {
            content:'';
            position: absolute;
            width:114px;
            height:63px;
            background:url(../img/groups/groups-3.png) 0 0 no-repeat;
            right: 100%;
            margin-right: 15px;
            top: 24px;
        }
    }
}
.groups-4 {
    width:200px;
    left:230px;
    top:87%;
    margin-top:20px;
    .groups-title {
        &:after {
            content:'';
            position: absolute;
            width:8px;
            height:115px;
            background:url(../img/groups/groups-4.png) 0 0 no-repeat;
            left: 50%;
            margin-left:-4px;
            bottom: 100%;
            margin-bottom: 15px;
        }
    }

}
.groups-5 {
    width:200px;
    left:-160px;
    top:140px;
    .groups-title {
        &:after {
            content:'';
            position: absolute;
            width:141px;
            height:89px;
            background:url(../img/groups/groups-5.png) 0 0 no-repeat;
            left: 100%;
            margin-left:15px;
            top: 26px;
        }
    }
}
.groups-6 {
    width:200px;
    left:-70px;
    top:0;
    .groups-title {
        &:after {
            content:'';
            position: absolute;
            width:195px;
            height:157px;
            background:url(../img/groups/groups-6.png) 0 0 no-repeat;
            left: 100%;
            margin-left:15px;
            top: 36px;
        }
    }
}
#groupsParallax {
    width:1301px;
    height: 800px;
    background: url(../img/groups/main.png) 0 0 no-repeat;
    position: relative;
    left:50%;
    margin-left:-650px;
    top:0;
    z-index: 1;
}
#groupsHouse {
    position: absolute;
    bottom:105px;
    left:303px;
    width:760px;
    height: 394px;
    background: url(../img/groups/house.png) 0 70px no-repeat;
    z-index: 2;
}
.groupsParallaxClouds {
    position: absolute;
    width:854px;
    height: 500px;
    background: url(../img/clouds.png) 0 0 no-repeat;
    left: 216px;
    top: 36px;
}
#groupsClouds {
    left:200px;
    top:15px;
}
.groups-logo {
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    > li {
        display: inline-block;
        vertical-align: middle;
        margin-left:9px;
        &:first-child {
            margin-left:0;
        }
        > a {
            display: table;
            margin: 0 auto;
        }
    }
}
.groups-text {
    font-size: 18px;
    color:#939598;
    font-family: 'K_Helios Thin';
}
.groups-line {
    border-top:2px solid #b4b4b2;
    width: 245px;
    margin:0 auto;
    padding-bottom: 24px;
}
.hideme {
    opacity:0;
}
.heidelberg {
    width:105px;
    height: 68px;
    background: url(../img/logo-heidelberg.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-heidelberg.png) 0 -68px no-repeat;
    }
}
.nasklade {
    width:97px;
    height: 68px;
    background: url(../img/logo-nasklade.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-nasklade.png) 0 -68px no-repeat;
    }
}
.meisterwerk {
    width:126px;
    height: 62px;
    background: url(../img/logo-meisterwerk.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-meisterwerk.png) 0 -62px no-repeat;
    }
}
.cleanup {
    width:86px;
    height: 61px;
    background: url(../img/logo-cleanup.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-cleanup.png) 0 -61px no-repeat;
    }
}
.wizard {
    width:169px;
    height: 64px;
    background: url(../img/logo-wizard.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-wizard.png) 0 -64px no-repeat;
    }
}
.premium {
    width:206px;
    height: 62px;
    background: url(../img/logo-premium.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-premium.png) 0 -62px no-repeat;
    }
}
.dvormasterov {
    width:98px;
    height: 67px;
    background: url(../img/logo-main.png) 0 0 no-repeat;
    &:hover, &.hover {
        background: url(../img/logo-main.png) 0 -67px no-repeat;
    }
}
.groups-modal {
    a[href^="#777"] {
        display: table;
        margin: 0 auto 10px;
    }
}
#meisterwerk {
    padding-left:0;
    padding-right: 0;
}
.groups-modal__col {
    width:245px;
    display:inline-block;
    vertical-align: top;
    margin:0 20px;
}
