.guarantees {
    background: #31454c url(../img/guarantees.jpg) bottom center no-repeat;
    color:#fff;
    padding-bottom: 110px;
    max-height: 989px;
}
.guarantees-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:0;
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        font-family: 'K_Helios Thin';
        width:25%;
        padding-left:10px;
        margin-bottom: 15px;
        position: relative;
    }
    h3 {
        font-size:24px;
        font-family: 'K_Helios Comp';
        margin:0;
        font-weight: normal;
    }
    .icon {
        position: absolute;
        left:0;
    }
}
.guarantees-vertical-ul {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
    font-size:22px;
    font-family: 'K_Helios Thin';
    max-width: 300px;
    li {
        padding: 30px 0 0;
    }
    h3 {
        font-size:30px;
        font-weight: normal;
        font-family: 'K_Helios Comp';
        margin: 0;
    }
    .icon {
        float:left;
        margin-right: 15px;
    }
}
.guarantees-vertical-text {
    overflow: hidden;
}
.guarantees__icon {
    float:left;
    padding-right:15px;
}
.guarantees__desc {
    overflow: hidden;
}
