.header {
    position: relative;
    background: #2d4148 url(../img/background-menu.jpg) top center no-repeat;
    height:72px;
    overflow: hidden;
}
.header-logo {
    width:106px;
    height: 68px;
    float:left;
    margin-top:3px;
    background: url(../img/header-logo.png) 0 0 no-repeat;
    @extend .hidden-text;
}
.header-nav {
    overflow: hidden;
    white-space: nowrap;
    color:#fff;
    padding-top:30px;
    text-align: center;
    line-height: 19px;
    ul {
        list-style: none;
        font-size:0; /* fix inline-block */
        margin:0;
        padding:0;
    }
    li {
        display: inline-block;
        font-size: 15px;
        font-family: 'K_Helios Thin';
        margin-right:16px;
        &:last-child {
            margin-right:0;
        }
    }
    a {
        color:#fff;
        &:hover {
            color:#c1c1c1;
        }
    }
    .icon {
        margin-top:-2px;
    }
}
