.how {
    padding-bottom: 0;
    color:#fff;
    h1 {
        font-size: 50px;
        font-weight: 400;
    }
    ol {
        padding:0;
        color:#fff;
        font-size: 0;
        padding-top:80px;
        counter-reset: section;
        list-style-type: none;
        text-align: center;
    }
    li {
        position: relative;
        width:16.6%;
        display:inline-block;
        vertical-align: top;
        margin-right:-4px;
        padding:0 15px;
        border-left:2px solid #fff;
        min-height: 63px;
        font-size:18px;
        margin-top:15px;
        margin-bottom:80px;
        text-align: center;
        &:first-child {
            border-left:0;
        }
        &:before {
            counter-increment: section;
            content: counters(section,".") " ";

            position: absolute;
            left:50%;
            bottom:100%;

            margin-left:-34px;
            margin-bottom:10px;

            width: 64px;
            height: 64px;
            line-height: 64px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 24px;
            border-radius: 50%;
        }
    }
}
