.icon {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	&.icon-instagram {
		width:19px;
		height: 19px;
		background: url(../img/icons/icon-instagram.png) 0 0 no-repeat;
	}
	&.icon-important {
		width:92px;
		height: 92px;
		background: url(../img/icons/icon-important.png) 0 0 no-repeat;
	}
	&.icon-house {
		width:84px;
		height: 84px;
		background: url(../img/icons/icon-house.png) 0 0 no-repeat;
	}
	&.icon-offices {
		width:84px;
		height: 84px;
		background: url(../img/icons/icon-offices.png) 0 0 no-repeat;
	}
	&.icon-bars {
		width:83px;
		height: 83px;
		background: url(../img/icons/icon-bars.png) 0 0 no-repeat;
	}
	&.icon-hotels {
		width:84px;
		height: 84px;
		background: url(../img/icons/icon-hotels.png) 0 0 no-repeat;
	}
	&.icon-phone {
		width:70px;
		height:70px;
		background: url(../img/icons/icon-phone.png) 0 0 no-repeat;
		position: absolute;
		top:0;
		right:0;
		z-index: 100;
		&.dark {
			background: url(../img/icons/icon-phone-dark.png) 0 0 no-repeat;
		}
	}
	&.icon-assurance {
		width:237px;
		height:82px;
		background: url(../img/icons/icon-assurance.png) 0 0 no-repeat;
		margin: 0 0 10px;
	}
	&.icon-search {
		width:67px;
		height:67px;
		background: url(../img/icons/icon-search.png) 0 0 no-repeat;
	}
	&.icon-check {
		width:34px;
		height: 35px;
		background: url(../img/icons/icon-check.png) 0 0 no-repeat;
	}
	&.icon-free {
		width:69px;
		height: 69px;
		background: url(../img/icons/icon-free.png) 0 0 no-repeat;
	}
	&.icon-smart1 {
		width:65px;
		height: 65px;
		background: url(../img/icons/icon-smart1.png) 0 0 no-repeat;
	}
	&.icon-smart2 {
		width:65px;
		height: 65px;
		background: url(../img/icons/icon-smart2.png) 0 0 no-repeat;
	}
	&.icon-smart3 {
		width:65px;
		height: 65px;
		background: url(../img/icons/icon-smart3.png) 0 0 no-repeat;
	}
	&.icon-smart4 {
		width:66px;
		height: 66px;
		background: url(../img/icons/icon-smart4.png) 0 0 no-repeat;
	}
	&.icon-power {
		width:94px;
		height: 94px;
		background: url(../img/icons/icon-power.png) 0 0 no-repeat;
	}
	&.icon-tech {
		width:96px;
		height: 96px;
		background: url(../img/icons/icon-tech.png) 0 0 no-repeat;
	}
	&.icon-close {
		width:55px;
		height: 55px;
		background: url(../img/icons/icon-close.png) 0 0 no-repeat;
	}
	&.icon-ventilation {
		width: 79px;
		height: 79px;
		background: url(../img/icons/icon-ventilation.png) 0 0 no-repeat;
	}
	&.icon-heating {
		width: 79px;
		height: 79px;
		background: url(../img/icons/icon-heating.png) 0 0 no-repeat;
	}
	&.icon-low-voltage {
		width: 79px;
		height: 79px;
		background: url(../img/icons/icon-low-voltage.png) 0 0 no-repeat;
	}
	&.icon-electrician {
		width: 79px;
		height: 79px;
		background: url(../img/icons/icon-electrician.png) 0 0 no-repeat;
	}
	&.icon-plumbing-system {
		width: 79px;
		height: 79px;
		background: url(../img/icons/icon-plumbing-system.png) 0 0 no-repeat;
	}
	&.icon-wiring {
		width: 79px;
		height: 79px;
		background: url(../img/icons/icon-wiring.png) 0 0 no-repeat;
	}
	&.icon-class {
		width: 86px;
		height: 86px;
		background: url(../img/icons/icon-class.png) 0 0 no-repeat;
	}
	&.icon-heart {
		width: 90px;
		height: 90px;
		background: url(../img/icons/icon-heart.png) 0 0 no-repeat;
	}
	&.icon-regulations {
		width: 55px;
		height: 55px;
		background: url(../img/icons/icon-regulations.png) 0 0 no-repeat;
	}
	&.icon-guarantee {
		width: 94px;
		height: 94px;
		background: url(../img/icons/icon-guarantee.png) 0 0 no-repeat;
	}
	&.icon-percent {
		width: 96px;
		height: 96px;
		background: url(../img/icons/icon-percent.png) 0 0 no-repeat;
	}
	&.icon-license {
		width: 97px;
		height: 97px;
		background: url(../img/icons/icon-license.png) 0 0 no-repeat;
	}
	&.icon-document {
		width: 45px;
		height: 45px;
		background: url(../img/icons/icon-document.png) 0 0 no-repeat;
	}
	&.icon-standart {
		width: 45px;
		height: 45px;
		background: url(../img/icons/icon-standart.png) 0 0 no-repeat;
	}
	&.icon-control {
		width: 45px;
		height: 45px;
		background: url(../img/icons/icon-control.png) 0 0 no-repeat;
	}
	&.icon-fromto {
		width: 45px;
		height: 45px;
		background: url(../img/icons/icon-fromto.png) 0 0 no-repeat;
	}
	&.icon-class-white {
		width: 97px;
		height: 97px;
		background: url(../img/icons/icon-class-white.png) 0 0 no-repeat;
	}
	&.icon-star {
		width: 104px;
		height: 104px;
		background: url(../img/icons/icon-star.png) 0 0 no-repeat;
	}
	&.icon-contacts {
		width: 87px;
		height: 87px;
		background: url(../img/icons/icon-contacts.png) 0 0 no-repeat;
	}
	&.icon-mail {
		width: 53px;
		height: 53px;
		background: url(../img/icons/icon-mail.png) 0 0 no-repeat;
	}
	&.icon-point {
		width: 53px;
		height: 53px;
		background: url(../img/icons/icon-point.png) 0 0 no-repeat;
	}
	&.icon-phone-small {
		width: 53px;
		height: 53px;
		background: url(../img/icons/icon-phone-small.png) 0 0 no-repeat;
	}
	&.icon-facebook {
		width: 32px;
		height: 32px;
		background: url(../img/icons/icon-facebook.png) 0 0 no-repeat;
	}
	&.icon-instagram-footer {
		width: 32px;
		height: 32px;
		background: url(../img/icons/icon-instagram-footer.png) 0 0 no-repeat;
	}
	&.icon-up {
		width: 61px;
		height: 61px;
		background: url(../img/icons/icon-up.png) 0 0 no-repeat;
	}
	&.icon-services-check {
		width: 43px;
		height: 45px;
		background: url(../img/icons/icon-services-check.png) 0 0 no-repeat;
	}
	&.icon-instagram-dark {
		width: 94px;
		height: 94px;
		background: url(../img/icons/icon-instagram-dark.png) 0 0 no-repeat;
	}
	&.icon-up-small {
		width: 32px;
		height: 32px;
		background: url(../img/icons/icon-up-small.png) 0 0 no-repeat;
	}
	&.icon-video {
		width: 35px;
		height: 34px;
		background: url(../img/icons/icon-video.png) 0 0 no-repeat;
	}
	&.icon-arrow-white {
		width: 35px;
		height: 34px;
		background: url(../img/more.png) 0 0 no-repeat;
	}
	&.icon-close-small {
		width:39px;
		height:39px;
		background: url(../img/close-small.png) 0 0 no-repeat;
	}
	&.icon-team {
		width:94px;
		height:94px;
		background: url(../img/icons/icon-team.png) 0 0 no-repeat;
	}
	&.icon-close-white {
		width:32px;
		height:32px;
		background: url(../img/icons/icon-close-white.png) 0 0 no-repeat;
	}
}
.down {
	position: absolute;
	top:100%;
	margin-top:-81px;
	left:50%;
	margin-left:-30px;
	width:61px;
	height: 61px;
	background: url(../img/icons/arrow-down.png) 0 0 no-repeat;
	z-index: 100;
	@extend .hidden-text;
	animation: bounce 2s infinite;
	&.dark {
		background: url(../img/icons/arrow-down-dark.png) 0 0 no-repeat;
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
