.instagram {
    background: #fff url(../img/instagram.jpg) 50% 100% no-repeat;
    padding-bottom: 220px;
    margin-bottom: -2px;
    .slick-slide {
        font-size:0;
    }
    .slick-prev {
        background: url('../img/slick-control-dark.png') 0 0 no-repeat;
        left:-10px;
    }
    .slick-next {
        background: url('../img/slick-control-dark.png') 0 -43px no-repeat;
        right:-10px;
    }
}
.instagram-name {
    margin-top:30px;
    padding-left:47px;
    font-size: 20px;
    font-weight: bold;
}
.instagram-slick {
    padding: 0 40px;
}
.instagram-img {
    width:33.3%;
    display:inline-block;
    vertical-align: top;
    overflow: hidden;
    font-size: 18px;
    padding: 0;
    margin:0;
    border-top:20px solid #fff;
    border-left:7px solid #fff;
    border-right:7px solid #fff;
    position: relative;
    text-align: left;
    img {
        display: block;
        width:100%;
    }
    figcaption {
        margin: 10px 0;
    }
}
.instagram-subscribe {
    float:right;
    margin-top:50px;
    margin-right: 45px;
}
.instagram-footer {
    font-size:20px;
    padding:14px 0 0 0;
    &:after {
        clear: both;
        display: table;
        content: '';
    }
}
.instagram-footer__left {
    width:25%;
    float:left;
}
.instagram-footer__middle {
    width:50%;
    float:left;
    padding:0 15px;
}
.instagram-footer__right {
    width:25%;
    float:right;
    text-align: right;
}
.instagram-body-slick {
    img {
        width:100%;
    }
    padding:0;
    .slick-prev {
        left:-80px;
        background: url(../img/slick-control-dark.png) no-repeat;
    }
    .slick-next {
        right:-80px;
        background: url(../img/slick-control-dark.png) 0 -43px no-repeat;
    }
}
