.installation {
    background: #31454c url(../img/installation.jpg) top center no-repeat;
    padding-bottom: 346px;
    max-height: 989px;
    color:#fff;
    .num {
        color:#fff;
        border-color: #fff;
    }
}
.title-installation {
    font-size:30px;
    strong {
        display: block;
        font-size: 50px;
    }
    .icon {
        top:50%;
        margin-top:-43px;
    }
}
.installation-grid {
    list-style: none;
    padding: 0;
    margin: 0 0 0;
    font-size:0;
}
.installation__i {
    display: inline-block;
    vertical-align: top;
    width:33.3%;
    padding:14px 15px 34px 15px;
    margin-top:25px;
    position: relative;
    .installationModal {
        font-family: 'K_Helios';
        color: #fff;
        font-size: 18px;
        display: block;
        margin-top: 3px;
        padding-left:30px;
        position: relative;
        line-height: 22px;
        &:after {
            content: '';
            width:22px;
            height: 22px;
            position: absolute;
            left:0;
            background: url(../img/icons/icon-more.png) 0 0 no-repeat;
        }
    }
    .toggle-content {
        top:0;
        bottom:0;
        margin-top:0;
        .installation__title {
            font-family: 'K_Helios-bold';
            font-size: 17px;
            margin: 12px 0 18px;
        }
    }
}
.installation__num {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    margin-left: 7px;
}
table.installation__content {
    border-top:2px solid #fff;
    margin:15px 0 0;
    width: 100%;
    img {
        width: 79px;
    }
    td {
        padding:28px 0 0;
    }
}
.installation__title {
    font-size: 22px;
    font-family: 'K_Helios Thin';
    font-weight: normal;
    margin:5px 0 0;
    line-height: 1;
}
.installation__icon {
    width:95px;
    padding: 0;
}
