.intro {
    color:#fff;
    min-height:692px;
    padding:0;
    overflow: hidden;
    .icon-phone {
        top:70px;
    }
    .slick-slide {
        height:692px;
    }
    .slick-dots {
        top:30px;
        a {
            color:#fff!important;
        }
    }
    .slick-prev {
        left:10px;
    }
    .slick-next {
        right:10px;
    }
}
.intro-logo {
    display:inline-block;
    vertical-align: top;
    position: absolute;
    z-index: 10;
    width:140px;
    height:96px;
    left:50%;
    margin-left:-70px;
    top:80px;
    background: url(../img/logo.png) 0 0 no-repeat;
    @extend .hidden-text;
}
.intro-lines {
    position: absolute;
    top:140px;
    margin-left:-570px;
    left:50%;
    width:1141px;
    height: 19px;
    background: url(../img/lines.png) 0 0 no-repeat;
}
.animation-container,
.animation-container-interior {
    position: absolute;
    bottom:0;
    left: -200%;
    &.show {
        transition: all 1s ease;
        transition-delay: 0.5s;
        left: -35px;
        .home {
            height:110px;
            transition: height 1s ease-in-out;
            transition-delay: 1s;
        }
        .trees {
            height: 174px;
            transition: height 1s ease-in-out;
            transition-delay: 1.5s;
        }
        .grass {
            height: 36px;
            transition: height 1s ease-in-out;
            transition-delay: 2s;
        }
        .exterior-key,
        .intro-order,
        .point,
        .point1,
        .point2,
        .interior-i1,
        .interior-i2,
        .interior-i3,
        .interior-i4,
        .interior-i5,
        .interior-i6 {
            opacity: 1;
            visibility: visible;
            transition: .4s ease-out;
            transition-delay: 3s;
        }
        .clouds {
            opacity: 1;
            visibility: visible;
            transition: .4s ease-out;
            transition-delay: 3.5s;
        }
    }
}
.animation-container-interior {
    &.show {
        .interior {
            height: 218px;
            transition: height 1s ease-in-out;
            transition-delay: 1s;
        }
        .interior-i1 {
            transition-delay: 2s;
        }
        .interior-i2 {
            transition-delay: 2.5s;
        }
        .interior-i3 {
            transition-delay: 3s;
        }
        .interior-i4 {
            transition-delay: 3.5s;
        }
        .interior-i5 {
            transition-delay: 4s;
        }
        .interior-i6 {
            transition-delay: 4.5s;
        }
        .intro-order,
        .point,
        .point1,
        .point2 {
            transition-delay: 5s;
        }
    }
}
.hand {
    position: absolute;
	width:819px;
	height: 308px;
	bottom:0;
	background: url(../img/intro/hand.png) 0 0 no-repeat;
    .intro-order {
        right:-50px;
    }
}
.home {
    position: absolute;
    bottom:288px;
    left:360px;
    width:360px;
    height:0;
	background: url(../img/intro/home.png) 0 0 no-repeat;
}
.trees {
    position: absolute;
    bottom:287px;
    left:310px;
    width:426px;
    height: 0;
    background: url(../img/intro/trees.png) 0 0 no-repeat;
    transition: height 0 ease-in-out;
}
.grass {
    position: absolute;
    bottom:287px;
    left:310px;
    width:441px;
    height: 0;
    background: url(../img/intro/grass.png) 0 0 no-repeat;
}
.exterior-key {
    position: absolute;
    white-space: nowrap;
    position: absolute;
    bottom: 407px;
    left: 765px;
    font-family: 'K_Helios Thin';
    line-height: 1;
    font-size:38px;
    strong {
        font-family: 'K_Helios Comp';
        font-weight: normal;
    }
    p {
        margin: 0;
    }
    opacity: 0;
    visibility: hidden;
}
.intro-order {
    position: absolute;
    bottom:40px;
    left:760px;
    font-family: 'K_Helios Thin';
    line-height: .9;
    font-size:38px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    strong {
        font-family: 'K_Helios Comp';
        font-weight: normal;
    }
    p {
        margin: 0;
    }
    .button {
        margin-top:14px;
    }
}
.point1 {
    position: absolute;
    left:726px;
    bottom:80px;
    width:15px;
    height: 273px;
    background: url(../img/intro/point1.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.point2 {
    position: absolute;
    left: 664px;
    bottom: 25px;
    width:15px;
    height: 352px;
    background: url(../img/intro/point2.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.interior {
    position: absolute;
    bottom:288px;
    width: 540px;
    height: 0;
    left:255px;
    background: url(../img/intro/interior2.png) 0 0 no-repeat;
}
.interior-i1 {
    position: absolute;
    left: 214px;
    bottom: 430px;
    width:305px;
    height:36px;
    background: url(../img/intro/i1.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.interior-i2 {
    position: absolute;
    left: 525px;
    bottom: 437px;
    width:320px;
    height:38px;
    background: url(../img/intro/i2.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.interior-i3 {
    position: absolute;
    left: 603px;
    bottom: 377px;
    width:272px;
    height:39px;
    background: url(../img/intro/i3.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.interior-i4 {
    position: absolute;
    left: 650px;
    bottom: 305px;
    width:216px;
    height:42px;
    background: url(../img/intro/i4.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.interior-i5 {
    position: absolute;
    left: 246px;
    bottom: 304px;
    width:179px;
    height:38px;
    background: url(../img/intro/i5.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
.interior-i6 {
    position: absolute;
    left: 161px;
    bottom: 369px;
    width:211px;
    height:38px;
    background: url(../img/intro/i6.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
}
@keyframes timing {
    from {
        -webkit-transform: translateX(-5%);
    }
    to {
        -webkit-transform: translateX(10%);
    }
}
.clouds {
    left:225px;
    bottom:324px;
    position: absolute;
    width:546px;
    height: 320px;
    background: url(../img/intro/clouds.png) 0 0 no-repeat;
    opacity: 0;
    visibility: hidden;
    animation: 4s linear 0s infinite alternate timing;
}
