.letter {
    .container {
        width:742px;
    }
    .slick-prev {
        left:-120px;
    }
    .slick-next {
        right:-120px;
    }
    .h2 {
        font-size: 30px;
        font-weight: normal;
    }
    .slick-slide {
        width: 150px;
        height: 184px;
        overflow: hidden;
        padding:0 5px;
        img {
            width:100%;
            max-height: 180px;
        }
    }
}
