.project {
    background: #fff url(../img/bg-project.jpg) bottom center no-repeat;
    padding-bottom:270px;
    padding-top:40px;
    > .container {
        background: url(../img/project.jpg) 600px 0 no-repeat;
    }
    ul {
        list-style: none;
        padding: 0 0 40px 0;
        margin: 0;
        font-size: 20px;
        font-family: 'K_Helios Thin';
        position: relative;
        &:after {
            content:'';
            width:87px;
            height:2px;
            background: #b4b4b2;
            position: absolute;
            top:100%;
            left:0;
        }
    }
    li {
        margin-top:50px;
        padding-left:40px;
        min-height: 40px;
        background: url(../img/ul.png) 0 0 no-repeat;
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
    }
}

.project-row {
    margin-top:10px;
    &:after {
        clear:both;
        display: table;
        content: '';
    }
}
.project-col {
    width:33.3%;
    float:left;
    padding:0 15px;
}
.project-desc {
    position: relative;
    padding-top:20px;
    margin-top:25px;
    &:after {
        content:'';
        width:87px;
        height:2px;
        background: #b4b4b2;
        position: absolute;
        top:0;
        left:0;
    }
    h3 {
        font-weight: normal;
        font-size: 18px;
    }
}
.project__content {
    margin-top:40px;
}
