.regulations {
    color:#fff;
    font-size: 25px;
    font-weight: normal;
    .h2 {
        font-size: 25px;
        font-weight: normal;
        margin-top:10px;
    }
    .num {
        border-color: #fff;
        color: #fff;
    }
    ol {
        padding:0;
        color:#fff;
        font-size: 0;
        padding-top:65px;
        counter-reset: section;
        list-style-type: none;
        margin-bottom:-80px;
    }
    li {
        position: relative;
        width:20%;
        display:inline-block;
        vertical-align: top;
        margin-right:-4px;
        padding:0 15px;
        min-height: 63px;
        font-size:18px;
        margin-top:15px;
        margin-bottom:80px;
        text-align: center;

        &:before {
            counter-increment: section;
            content: counters(section,".") " ";

            position: absolute;
            left:50%;
            bottom:100%;

            margin-left:-34px;
            margin-bottom:10px;

            width: 64px;
            height: 64px;
            line-height: 64px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 24px;
            border-radius: 50%;
        }
    }
}
.materials {
    font-size: 30px;
    font-family: Tahoma,sans-serif;
    line-height: 1;
    font-weight: 400;
}
