.repairs {
    color: #fff;
}
.repairs-ul {
    list-style: none;
    padding: 40px 0 0;
    display: table;
    margin:100px auto 0 auto;
    li {
        display: table-cell;
        vertical-align: middle;
        font-size:25px;
        padding:0 50px;
        position: relative;
        border-left:2px solid #fff;
        text-align: center;
        &:first-child {
            border-left:0;
        }
    }
    .icon, img {
        position: absolute;
        top:-100px;
        left:50%;
        margin-left:-43px;
    }
}
