.reviews {
    background: #31454c url(../img/reviews.jpg) center center no-repeat;
    color: #fff;
    .slick-prev {
        left:0;
    }
    .slick-next {
        right:0;
    }
    .slick-dots {
        top:0;
    }
}
.reviews-grid {
    font-size:0;
    margin: 50px auto 0 auto;
    width: 880px;
}
.review {
    display: inline-block;
    vertical-align: top;
    width:50%;
    height: 350px;
    font-size:16px;
    margin:0 0 8px 0;
    padding-top:45px;
    position: relative;
    &:nth-child(2n+1) {
        padding-right:35px;
    }
    &:nth-child(2n) {
        padding-left:35px;
    }
    .toggle-content {
        top:-15px;
        font-family: Tahoma, sans-serif;
        bottom:0;
        font-size: 16px;
        .review__username {
            font-size: 16px;
            font-family: Tahoma, sans-serif;
            margin: 0 0 5px;
        }
    }
    td {
        &:first-child {
            width:190px;
        }
    }
    a.toggle-handle {
        color: #fff;
        font-size: 20px;
        font-family: 'K_Helios Thin';
        &:before {
            content:'';
            display: inline-block;
            vertical-align: top;
            margin: 2px 10px 0 0;
            width:20px;
            height: 20px;
            background: url(../img/more-small.png) 0 0 no-repeat;
        }
    }
}
.review__photo {
    width:175px;
    border-radius: 50%;
}
.review__username {
    font-family: 'K_Helios';
    font-size:20px;
    margin: 0;
    font-weight: normal;
}
.review__info {
    font-family: 'K_Helios Thin';
    font-size: 20px;
}
