.services {
    color:#fff;
    background: #32454c url(../img/main-clouds.jpg) 50% 50% no-repeat;
    padding-bottom:190px;
}
.services-ul {
    list-style: none;
    padding:0;
    margin:40px 0 0 0;
    font-size: 0;
    position: relative;
    padding:0 80px;
}
.services-li {
    display: inline-block;
    vertical-align: top;
    width:33.3%;
    padding: 0 15px;
    text-align: center;
    .toggle-handle {
        color:#fff;
        border-bottom: 2px solid #adc1c8;
        padding-bottom: 6px;
        display: inline-block;
        cursor: pointer;
        font-size:26px;
        font-family: 'K_Helios Thin';
        &:before {
            content:'';
            display: inline-block;
            vertical-align: top;
            margin-top:-5px;
            margin-right:12px;
            width: 34px;
            height: 35px;
            background: url(../img/icons/icon-check.png) no-repeat;
        }
    }
    .toggle-content {
        border-radius: 5px;
        text-align: center;
        margin-top:30px;
        padding: 45px;
        &:after {
            content:'';
            top:-11px;
            position: absolute;
            width:38px;
            height: 11px;
            background: url(../img/arrow-toogle.png) 0 0 no-repeat;
        }
        img {
            display: inline-block;
        }
    }
    &:nth-child(1) .toggle-content:after {
        left:102px;
    }
    &:nth-child(2) .toggle-content:after {
        left:389px;
    }
    &:nth-child(3) .toggle-content:after {
        left:653px;
    }
}
.services-info {
    margin-top:100px;
    width:335px;
    font-size:20px;
    h3 {
        margin:0 0 24px;
        font-size: 30px;
        font-weight: normal;
    }
}
.services-free {
    color:#f5ca20;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding:5px 18px;
    margin-top:94px;
    border-left:1px solid #a89c39;
    border-right:1px solid #a89c39;
    background-image: url(../img/border-yellow.gif), url(../img/border-yellow.gif), url(../img/border-yellow.gif), url(../img/border-yellow.gif);
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    strong {
        text-transform: uppercase;
    }
    .icon-free {
        position: absolute;
        left:50%;
        margin-left:-34px;
        bottom:100%;
        margin-bottom:4px;
    }
    p {
        margin: 0;
    }
}
.services-form {
    width:725px;
    height: 389px;
    background: url(../img/form.png) 0 0 no-repeat;
    position: absolute;
    top:380px;
    left:260px;
    font-family: 'K_Helios Thin';
    font-size:22px;
    label {
        font-weight: normal;
        display: block;
        text-align: right;
        margin-right: 9px;
    }
    form {
        margin:105px 0 0 140px;

    }
    table {
        border-collapse: collapse;
        width: 425px;
    }
    td { padding: 0 0 36px; }
    input[type='text'] {
        width: 100%;
        border:0;
        background: none;
        border-bottom:2px solid #b5cdd6;
        font-family: 'K_Helios Thin';
        color:#fff;
        &:focus {
            outline: none;
        }
    }
    button,
    input[type='submit'] {
        background: none;
        border:0;
        font-family: 'K_Helios Thin';
        color:#fff;
        font-size:25px;
        outline: none;
        border-left:1px solid #aeccd6;
        border-right:1px solid #aeccd6;
        padding: 7px 22px 0 22px;
        cursor: pointer;
        background-image: url(../img/border.gif), url(../img/border.gif), url(../img/border.gif), url(../img/border.gif);
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
    }
    .notice {
        position: absolute;
        top:56px;
    }
}
.toggle-content {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .9);
    z-index: 10;
    top:100%;
    margin-top:12px;
    left:0;
    right:0;
    text-align: left;
    padding: 20px 25px;
    font-size: 17px;
    color: #2d4148;
    font-family: 'K_Helios Thin';
    cursor: pointer;
}
