.smart {
    font-size:20px;
    h1 {
        font-size: 50px;
        font-weight: 400;
        margin: 0 0 10px;
    }
}
.smart-ul {
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
    font-size:0;
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        margin-left:30px;
        &:first-child {
            margin-left:0;
        }
    }
}
