.team {
    background: #fff url(../img/team.png) 50% 50px no-repeat;
    min-height: 550px;
    .slick-prev {
        background: url(../img/slick-control-dark.png) 0 0 no-repeat;
        left: -10px;
    }
    .slick-next {
        background: url(../img/slick-control-dark.png) 0 -43px no-repeat;
        right: -10px;
    }
    .slick-dots {
        top:0;
        left:0;
    }
    .slick-dots li button:before {
        border-color: #26414d;
    }
    .slick-dots li.slick-active button:before {
        background: #213d49;
        box-shadow: inset 0 0 0 1px #fff;
    }
}
.team-slick {
    padding: 0 40px;
}
.team-title {
    font-family: Tahoma, sans-serif;
    font-size:40px;
    line-height: 94px;
}
.team-grid {
    font-size:0;
    margin-top:20px;
}
.user {
    display: inline-block;
    vertical-align: top;
    font-size: 19px;
    padding:25px 20px;
    width: 33.3%;
    height: 320px;
    margin-top:8px;
    position: relative;
    text-align:center;
    a {
        display: block;
    }
    .toggle-handle {
        position: relative;
        cursor: pointer;
    }
    .toggle-content {
        top:0;
        bottom:0;
        background: rgb(36, 63, 75);
        background: rgba(36, 63, 75, .9);
        color: #fff;
        font-size: 17px;
        font-family: 'K_Helios Thin';
        .user__info {
            background: url(../img/icons/icon-team-white.png) no-repeat;
        }
    }
}
.user__photo {
    display: inline-block;
    img {
        width:140px;
        border: 2px solid #4c636d;
        border-radius: 50%;
    }
}
.user__info {
    font-size:18px;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
    margin:10px 0 10px;
    text-align: left;
    background: url(../img/team-info.png) 0 0 no-repeat;
    min-height: 45px;
    padding-left: 55px;
    position: relative;
    z-index: -1;
    h3 {
        margin:0;
        font-size:18px;
    }
}
.user__icon {
    width:45px;
    height: 45px;
    background: url(../img/team-info.png);
    float:left;
    margin-right: 10px;
}
.user__more {
    margin: 5px 0 0;
    font-size: 16px;
}
.modal-user {
    table {
        border-spacing: 0;
        margin: 0;
    }
    td {
        padding: 0;
    }
    .user__info {
        margin-top:50px;
        padding-left:70px;
    }
    .user__about {
        border-top:1px solid #5a7f8c;
        padding-top:25px;
        margin-top:25px;
        padding-bottom: 60px;
        margin-left:70px;
    }
    .close-modal {
        display: none!important;
    }
}
.user__photo-large {
    width:370px;
    vertical-align: bottom;
    img {
        display: block;
    }
}
