.works {
    padding-bottom: 125px;
    background: #fff;
    .container {
        width: 100%;
        max-width: 1040px;
        @media screen and (max-width: 1200px) {
            width: 900px;
        }
    }
}
.works-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 0 142px;
    font-size: 0;
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        font-family: 'K_Helios Thin';
        border-left: 1px solid #213d49;
        &:first-child {
            border: 0;
        }
        a {
            display: block;
            padding:3px 15px 0 15px;
            &.active {
                color: #fff;
                background: #213d49;

            }
        }
    }
}
.works-gallery {
    font-size:0;
    margin-top:50px;
    > div {
        display: none;
    }
    p {
        display: inline-block;
        margin:0 -4px 0 0;
    }
    a {
        display: inline-block;
        vertical-align: top;
        width:25%;
        // width: 317px;
        height:175px;
        overflow: hidden;
        background: #ccc;
        position: relative;
        border:1px solid #fff;
        // @media (max-width: 3000px) {
        //     width:12.5%;
        // }
        // @media (max-width: 2400px) {
        //     width:14.285714285714286%;
        // }
        // @media (max-width: 2000px) {
        //     width: 16.666666666666667%;
        // }
        // @media (max-width: 1700px) {
        //     width: 20%;
        // }
        // @media (max-width: 1500px) {
        //     width: 25%;
        // }
        // @media (max-width: 1125px) {
        //     width: 33.333333333333333%;
        // }
    }
    img {
        position: absolute;
        max-width: none;
        left:50%;
        margin-left:-185px;
        min-width: 370px; /* ultrawide monitor */
    }
}

.fancybox-title-over {
    position: static!important;
}
#fancybox-title-over {
    color: #2e4148!important;
    background:none!important;
    font-size: 16px!important;
    padding:15px 20px!important;
}
#fancybox-left-ico, #fancybox-right-ico {
    width: 43px!important;
    height: 43px!important;
    margin-top: -22px!important;
}
#fancybox-right-ico {
    right:0!important;
}
#fancybox-left-ico {
    background: url(../img/slick-control.png) 0 0 no-repea!important;
    left:0!important;
}
#fancybox-right-ico {
    background: url(../img/slick-control.png) 0 -43px no-repeat!important;
    left:auto!important;
}
#fancybox-right {
    right: -60px!important;
}
#fancybox-left {
    left: -60px!important;
}

.works-gallery {
    .slick-prev {
        background: url('../img/slick-control-dark.png') 0 0 no-repeat;
        left:-50px;
    }
    .slick-next {
        background: url('../img/slick-control-dark.png') 0 -43px no-repeat;
        right:-50px;
    }
}
